<header class="bg-red-500 text-white p-4 shadow-md">
  <nav class="container mx-auto flex justify-between items-center">
    <ul class="flex space-x-4">
      <li>
        <a class="<%= currPage === 'Home' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300" href="/">Home</a>
      </li>
      <li>
        <a class="<%= currPage === 'Add Home' ? 'bg-red-400' : 'hover:bg-red-400' %> hover:bg-red-400 py-2 px-4 rounded transition duration-300" href="/host/add-home">Add Home</a>
      </li>
    </ul>
  </nav>
</header>